<!-- social -->
<div class="social section">
  <div class="container">
    <div>
      <div class="f-left">
        <h2>WAISC @ KI2022</h2>
        <p class="subtitle">September 2022, Trier</p>
      </div>
      <div class="twitter">
        <a
          href="https://twitter.com/search?q=%23WAISC22&src=typed_query&f=live"
          target="_blank"
          ><i class="fa fa-twitter"></i><span>#WAISC22</span></a
        >
      </div>
    </div>
  </div>
</div>
<!-- social ends! -->

<div class="footer">
  <div class="container">
    <p>
      <a href="{{ 'legal' | relative_url }}">Legal Information</a> &mdash;
      <a href="{{ 'data-protection' | relative_url }}">Data Protection</a>
    </p>
  </div>
</div>
