<meta charset="utf-8" />
<title>
  {% if page.title %} {{page.title}} &middot; {% endif %}WAISC @ KI2022 in Trier
</title>
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ 'icons/apple-touch-icon.png' | relative_url }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ 'icons/favicon-32x32.png' | relative_url }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ 'icons/favicon-16x16.png' | relative_url }}"
/>
<link rel="manifest" href="{{ 'manifest.json' | relative_url }}" />
<link
  rel="mask-icon"
  href="{{ 'icons/safari-pinned-tab.svg' | relative_url }}"
  color="#5bbad5"
/>
<meta name="theme-color" content="#ffffff" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"
/>
<link
  href="{{ 'fontawesome-free-6.1.1-web/css/all.min.css' | relative_url }}"
  rel="stylesheet"
/>
<link
  href="{{ 'fontawesome-free-6.1.1-web/css/v4-shims.min.css' | relative_url }}"
  rel="stylesheet"
/>
<link
  href="{{ 'academicons-1.9.2/css/academicons.min.css' | relative_url }}"
  rel="stylesheet"
/>
<link
  href="{{ 'scripts/jquery-ui-1.11.2/jquery-ui.min.css' | relative_url }}"
  rel="stylesheet"
/>
<link
  href="{{ 'css/style.css' | relative_url }}"
  rel="stylesheet"
  type="text/css"
/>
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
  integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
  crossorigin=""
/>
{% for css in page.external-css %}
<link href="{{ 'css/'+css | relative_url }}" rel="stylesheet" type="text/css" />
{% endfor %}
<script
  src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
  integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
  crossorigin=""
></script>
<script>
  function initialize() {
    var coordinates = [49.74430006025408, 6.684901240685572];
    var map = L.map("map_canvas").setView(coordinates, 15);

    L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
      attribution:
        '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
    }).addTo(map);

    L.marker(coordinates).addTo(map);
  }

  document.addEventListener("DOMContentLoaded", initialize);
</script>
