$color3: #acbfcc;
$color4: #41484c;

// default9
$base-font-size: 14px;
$default-spacing: 10px;

// default fonts
$default-font: "Open Sans", sans-serif;
$headers-font: "Roboto Condensed", sans-serif;

// default colors
$default-color: #1761b3;
$default-font-color: #000;
$white: #fff;
$gray: $color4;
$light-gray: #f0f0f0;
$black: #000;
$blue: #1f4b85;
$green: #4daf7c;

/* all default colors

#ea4c0f - orange, original color
#10a1d6 - light blue
#59cbe3 - blue
#95a5a5 - gray
#913d88 - purple
#c51330 - red
#eb7f9f - pink
#f39c11 - yellow
#1bbc9b - light green
#4daf7c - green

*/

$header-opacity: 0.85;
$print-margin: 20px;
$print-text-align: justify;
